*.pyc
__pycache__/
*.pyd
*.so
builder/world_visualizations

.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
lib/
include/
share/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache/
.pytest_cache/
htmlcov/
.nox/
.eggs/
*.egg-info/
build/
dist/

.vscode/
.idea/
*.swp
*.bak
*.swo